.services {
  background-image: url("../../assets/images/services-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  position: relative;
  padding: 3rem 0;
  margin: 8rem 0;
  width: 100%;
  z-index: 55;

  &__overlay {
    background-color: rgba(7, 7, 7, 0.795);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 3.5rem;
    position: relative;
    color: var(--color-white);

    span {
      font-size: 5rem;
      color: rgb(247, 181, 0);
      font-weight: 600;
    }
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-link {
      display: flex;
      justify-content: center;
      font-size: 2.5rem;
      margin: 2rem auto;
      cursor: pointer;
      z-index: 88;
    }
  }
  // a {
  //   color: #fff !important;
  //   margin-top: 0.8rem;
  //   padding: 0.3rem 0.6rem;
  //   display: inline-block;
  //   font-size: 1.4rem;
  //   border: 2px solid rgb(119, 118, 118);
  //   text-decoration: none;
  //   transition: all 0.4s;
  //   z-index: 56;

  //   &:hover {
  //     background-color: var(--color-primary);
  //     font-weight: 600;
  //   }
  // }

  @media screen and(max-width: 1000px) {
    background-image: url("../../assets/services-bg-mobile.jpg");
  }
}
