.about {
  display: flex;
  margin: 2rem 3rem;
  flex-direction: row-reverse;

  &__content {
    padding: 4rem;

    p {
      font-size: 1.6rem;
      line-height: 1.8;
      margin: 2rem 0;
    }
  }

  @media screen and(max-width: 600px) {
    &__content {
      width: 100%;
      padding: 0 1rem;
    }
  }

  @media screen and(max-width: 1152px) {
    &__imgBox {
      display: none;
    }
  }
}
