.about {
  display: flex;
  margin: 2rem 3rem;
  flex-direction: row-reverse;

  &__content {
    padding: 4rem;

    p {
      font-size: 1.6rem;
      line-height: 1.8;
      margin: 2rem 0;
    }
  }
}
