.about-page {
  padding-bottom: 4rem;
  &__info {
    display: flex;

    & img {
      width: 40%;
      margin: 0 auto;
      object-fit: contain;
    }
  }

  &__content {
    width: 50%;
    margin: 2rem auto;

    & h4 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      color: rgb(109, 109, 109);
    }

    & h2 {
      font-size: 2rem;
      color: rgb(163, 135, 7);
      margin-bottom: 1.5rem;
    }

    & p {
      font-size: 1.4rem;
      min-width: 80%;
      line-height: 1.6;
      margin-bottom: 1.5rem;
    }
    ul {
      list-style: none;

      li {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        min-width: 50%;

        span:first-child {
          font-weight: 700;
          color: #000;
          width: 130px;
        }

        span {
          width: calc(100% - 130px);
          font-weight: 600;
          color: #585858;
        }
      }
    }
  }

  &__logo {
    width: 20rem;
  }

  &__education {
    font-size: 2.5rem;
    margin: 3rem 2rem;
    @media screen and(max-width: 600px) {
      margin: 3rem 1rem;
    }

    h3 {
      text-align: center;
      margin-bottom: 4rem;
      @media screen and(max-width: 450px) {
        font-size: 2rem;
      }

      span {
        text-decoration: underline;
        font-size: 3rem;
        color: rgb(230, 189, 7);
      }
    }
    &-info {
      display: flex;
      align-items: center;

      &-svg {
        fill: rgb(196, 160, 0);
      }

      h6 {
        font-size: 1.4rem;
        a {
          color: rgb(187, 143, 0);
        }
      }

      & img {
        width: 12rem;
        margin-right: 1.5rem;
        @media screen and(max-width: 600px) {
          width: 8rem;
        }
      }
    }
  }
  &__player-wrapper {
    position: relative;
    margin: 0 4rem;
    padding-top: 56.25%;
  }

  &__details {
    text-align: center;
    margin-bottom: 1.5rem;
  }

  &__react-player {
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  @media screen and (max-width: 400px) {
    .about-page__education-info h6 {
      font-size: 1.1rem;
    }

    &__content p {
      width: 80%;
    }
  }

  @media screen and(max-width: 600px) {
    .about-page__info img {
      width: 55%;
    }
  }

  @media screen and (max-width: 1000px) {
    &__info {
      flex-direction: column-reverse;
    }

    &__content {
      width: 100%;
      margin: 3rem auto;
      text-align: center;

      p {
        margin: 1.8rem auto;
        width: 60%;
      }
    }
  }
}
