.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem;
  background-color: var(--color-white);
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);

  a {
    text-decoration: none;
  }

  nav ul {
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin-right: 3rem;
      font-size: 2rem;
      padding: 3px 0;

      &:hover {
        border-bottom: 2px solid var(--color-primary);
        color: var(--color-primary);
      }
    }
  }

  &__link {
    color: var(--primary-color);
  }

  &__book {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-white);
    border: 2px solid var(--color-primary);
    padding: 5px 8px;
    background-color: var(--color-secondary-light);
    border-radius: 3rem;
    font-weight: 600;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.06);
      background-color: var(--color-secondary-dark);
    }
  }

  &__title {
    font-family: "Dancing Script", cursive;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 4px;
    color: var(--color-primary);
  }
}
